@import "@/styles/scss/abstracts/abstracts-dir.scss";
.contactUsFormContainer{
    .title{
        font-size: fontSize(33px);
        font-weight: 700;
        text-transform: uppercase;
    }
    .subTitle{
        font-size: 15px;
        line-height: 1.46666667;
        color: #777777;
    }
}