@import "@/styles/scss/abstracts/abstracts-dir.scss";
.bannerContiner {
    height:50vh;
    .bannerTitleContiner {
        .bannerTitle {
            font-size: fontSize(45px) !important;
        }
    }
    .bannerImage{
        height: 50vh;
    }
}
