
@import "@/styles/scss/abstracts/abstracts-dir.scss";
.aboutCompanyContiner{
    .aboutImage{

    }
    .aboutTitle{
        font-size: 2.34375rem;
        font-weight: 700;
    }
    .aboutDescription{
        font-size: fontSize(15px) !important;
    }
    .aboutDescriptionList{
        font-size: fontSize(15px) !important;
        border: none !important;
        padding: 0.425rem 0;
    }
}